<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chart with Flask and amCharts 5</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Micro.js"></script>
    <script src="/static/chart.js"></script>
    <script src="/static/data.js"></script>
    <script src="/static/bar.js"></script>
    <script src="/static/line.js"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <h1 class="display-1 border-bottom">Zewail University Dashboard</h1>
    <style>
      body {
        background-color: #092635;
        margin: 0;
        color: white;
      }
    </style>
  </head>
  <body>
    <div>
      <div id="chartdiv"></div>
      <div id="datadiv"></div>
      <div id="bardiv"></div>
      <div id="linediv"></div>
    </div>
  </body>
</html>
